# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

server/node_modules
server/.env
server/package-lock.json
# dependencies
/node_modules
you-tify/node_modules
you-tifyserver/.env
you-tify/package-lock.json

you-tify/.pnp
you-tify/.pnp.js

# testing
you-tify/coverage

# production
you-tify/build

# misc
you-tify/.DS_Store
you-tify/.env.local
you-tify/.env.development.local
you-tify/.env.test.local
you-tify/.env.production.local

you-tify/npm-debug.log*
you-tify/yarn-debug.log*
you-tify/yarn-error.log*

